{% extends 'base.html' %}

{% block main %}

<div class="row">
  <div class="large-12 columns">
    <h5>Last 3 emissions events reported:</h5>
    <div class="row">
      <div class="large-4 medium-4 small-4 columns">
        <div class="callout panel">
          <p>Four columns</p>
        </div>
      </div>
      <div class="large-4 medium-4 small-4 columns">
        <div class="callout panel">
          <p>Four columns</p>
        </div>
      </div>
      <div class="large-4 medium-4 small-4 columns">
        <div class="callout panel">
          <p>Four columns</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
